.nav-bar {
	background-color: #304C87;
	height: 8%;
	width: 100%;
	position: absolute;

}

.nav-bar button {
    background-color: white !important;
    width: 10%;
    position: relative;
    color: black;
    font-size: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0.2% 0.5%;
    margin-top: 1%;
    margin-left: 2%;
}

.title h1{
	color: #304C87;
}

.title {
	margin-top: 2%;
	text-align: center;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	line-height: 10px;
}

.info {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	width: 95%;
	font-size: 16px;
	/*display: absolute;*/
	margin: auto;
	margin-top: 2%;
	border-width: 6px;
	border-style: solid;
	border-color: #304C87;
	border-radius: 2%;
	padding: 1%;
}

.info h4 {
	color: #304C87;
	font-size: 18px;
}

.info .column1 {
	display: inline-block;
 	width: 33%;
 	height: auto;
}

.info .column1 ul {
	 padding-left: 8%;
	 padding-right: 10%;
}

.info .column2 {
	display: inline-block;
 	width: 33%;
	height: auto;
	font-size: 16px;
}

.info .column3 {
	display: inline-block;
 	width: 33%;
	height: auto;
	font-size: 16px;
}


#creditinfo {
	color: red;
	font-weight: bold;
	padding-right: 10%;
}


#studentimages img{
	width: 24.8%;
	height: 600px;
}

